
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color:#1abc9c;
}
.time{
    width: 28rem;
    height: 60vh;
    background: #e74c3c;
    padding:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ecf0f1;
}

.player1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 7rem;
    background: #e67e22;
}
.controls{
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
.player2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 7rem;
    background: #e67e22;
}
#resume{
    display: none;
}

